.top{
  display: flex;

  nav ul{
    list-style: none;
    display: flex;
    float: right;
  }
  a{
    text-decoration: none;
    color: white;
    margin-right: 80px;
    font-size: 18px;
  }
  .image-container img{
    width: 150px;
    float: left;
    margin-top: 15px;
  }
  div.navigation span{
    color: yellowgreen;
  }
  .image-container{
    width: 30%;
    background-color: yellowgreen;
  }
  .navigation{
    width: 70%;
    background-color: darkgrey;
  }
}

header{
  padding-top: 30px;
  background: url("images/background-header.jpg") no-repeat;
  background-size: cover;
  height: 650px;
  .background{
    text-align: center;
    color: white;
    margin-top: 0;
  }
  h1{
    margin-top: 120px;
    font-size: 48px;
  }
  h1 span{
    color: yellowgreen;
  }
  p{
    font-size: 22px;
    padding: 100px;
  }
  button{
    background: yellowgreen;
    border: none;
    font-size: 18px;
    padding: 10px;
    color: white;
  }
}

main{
  color: darkgrey;
  h1{
  text-align: center;
    margin-top: 100px;
  }
  .one{
    text-align: center;
    font-size: 16px;
    padding: 0 300px 0 300px;
  }
  .border{
    border-bottom: 3px solid yellowgreen;
    width: 60px;
    margin: auto;
  }
  div.services{
    width: 300px;
  }
  section.service{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 60px;
  }
  .services img{
    width: 300px;
  }

  h3{
    color: yellowgreen;
  }

  button{
    background: yellowgreen;
    border: none;
    color: white;
    padding: 5px;
    float: left;
    margin-top: 10px;
  }
  div.joble{
    width: 200px;
  }
  section.jobs{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
   p{
    text-align: center;
  }
  .jobs img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  .color{
    background: lightgray;
  }
  .color h1{
    padding-top: 30px;
  }
  .joble{
    margin-top: 50px;
  }
  .joble p{
    padding-bottom: 50px;
  }

}
footer{
  color:white;
  padding-top: 20px;
  background: #2C2C2C;
  ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  li{
    padding: 0 150px;
  }
  div i{
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

}